.item-nota {
  display: block;
  cursor: pointer;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  padding: 8px 16px;
  color: black;
}

.item-nota:hover {
  background-color: #F0F0F0;
}

.item-nota.disabled {
  color: gray
}

.item-nota > .badge {
  padding: 4px 8px;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
  color: white;
  background-color: green;
}

.item-nota.disabled > .badge {
    background-color: gray;
}